<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>店舗｜検索、結果</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<style>
	#drop-area {
		border: 2px dashed #ccc;
		padding: 40px;
		text-align: center;
		width: 400px;
		margin: 50px auto;
		border-radius: 10px;
		transition: 0.3s;
	}
	#drop-area.hover {
		border-color:#666;
		background-color: #f9f9f9;
	}
	#file-list {
		margin-top: 20px;
		font-family: monospace;
		color: #333;
	}
</style>
</head>
<body>

<h2>レストラン検索</h2>
<form th:action="@{/restaurant-search}" method="POST" th:object="${restaurantSearchForm}">
	<label>店舗名</label><br>
	<input type="text" th:field="*{restaurantName}"><br>
	<br>
	<input type="submit" value="検索" class="btn">
</form>

<div th:if="${restaurantList} != null">
	<h2>レストラン一覧</h2>
	<table class="restaurant-list">
		<tr>
			<th colspan="2">レビュー</th>
			<th>店舗ID</th>
			<th>店舗名</th>
			<th>キャッチプレーズ</th>
			<th>評価（平均）</th>
		</tr>
		<tr th:each="r : ${restaurantList}">
			<td>
				<form th:action="@{/search-review}" method="POST">
					<input type="hidden" name="restaurantId" th:value="${r.restaurantId}">
					<input type="hidden" name="restaurantName" th:value="${r.restaurantName}">
					<input type="submit" value="一覧" class="tbtn">
				</form>
			</td><td>
				<form th:action="@{/show-review-form}" method="POST">
					<input type="hidden" name="restaurantId" th:value="${r.restaurantId}">
					<input type="hidden" name="restaurantName" th:value="${r.restaurantName}">
					<input type="submit" value="登録" class="tbtn">
				</form>
			</td>
			<td th:text="${r.restaurantId}"></td>
			<td th:text="${r.restaurantName}"></td>
			<td th:text="${r.catchPhrase}"></td>
			<td th:text="${r.formatAverageRating()}"></td>
		</tr>
	</table>
	
</div>
<hr>
drag and drop test
<hr>
<div>
	<div id="drop-area">
		<p>ファイルを選択またはドラッグアンドドロップ</p>
		<input type="file" id="fileInput" > <!-- hidden> -->
		<button onclick="document.getElementById('fileInput').click()">ファイル選択</button>
		<div id="file-list"></div>
	</div>
</div>
<script>
	const dropArea = document.getElementById('drop-area');
	const fileInput = document.getElementById('fileInput');
	const fileList = document.getElementbyId('file-list');
	
	function handleFiles(files) {
		if (!files.length) return;
		const file = files[0];
		fileList.innerText = `ファイル名:${file.name}`;
	}
	
	['dragenter', 'dragover'].forEach(eventName => {
		dropArea.addEventListener(eventName, (e) => {
			e.preventDefault();
			e.stopPropagation()
			dropArea.classList.add('hover');
		}, false);
	});
	['dragleave', 'drop'].forEach(eventName => {
		dropArea.addEventListener(eventName, (e) => {
			e.preventDefault();
			e.stopPropagation();
			dropArea.classList.add('hover');
		}, false);
	});
	dropArea.addEventListener('drop', (e) => {
		const files = e.dataTransfer.files;
		fileInput.files = files;
		handleFiles(files);
	});
	fileInput.addEventListener('change', (e) => {
		handleFiles(e.target.files);
	});
</script>
</body>
</html>